.pagination-container {
  margin-top: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.pagination-item {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-darkslategray);
  border-radius: 10px;
  font-size: 18px;
  color: var(--color-coral);
  font-weight: 700;
  letter-spacing: -0.015em;
  cursor: pointer;
}

.pagination-link-active {
  background-color: var(--color-turquoise);
  color: var(--color-darkslategray);
}

.arrow-previous {
  transform: rotate(-180deg);
  margin-right: 5px;
  color: var(--color-turquoise);
}

.arrow-next {
  margin-left: 5px;
  color: var(--color-turquoise);
}

.arrow-inactive {
  color: var(--color-darkslategray);
}

.arrow-active {
  color: var(--color-turquoise);
}

.arrow-previous a,
.arrow-next a {
  display: flex;
  justify-content: center;
  align-items: center;
}